.App {
  text-align: center;
}

.App h1 {
  font-size: 70px;
}

.player-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.player-card {
  border: 5px inset gray;
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  background-color: silver;
}

.player-card h3 {
  color: black;
}

.player-card p {
  color: black;
}

.player-info {
  margin-top: 20px;
}
