.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.player-list {
  /* border: 5px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.player-card {
  border: 5px inset gray;
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
}

.player-info {
  margin-top: 20px;
}
